html {
    margin: 0;
}

body {
    margin: 0;
    background-color: crimson;
}

article {
    background-color: lightpink;
    border-bottom: 3px inset deeppink;
    border-radius: 3%;
}

header {
    margin: 0 auto;
    text-align: center;
}